html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
}

#content {
	padding-bottom: 60px;
	/* Height of the footer element */
}

#footer {
	background: #3b3b3b;
	width: 100%;
	height: 40px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	text-align: right;
	color: #c9c9c9;
	font-family: germania-one;
}